@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');

.section-title {
  @apply relative;
}

.section-title h2 {
  @apply text-primary font-bold uppercase;
}

.section-title h3 {
  @apply absolute lg:top-[-32px] top-[-27%] left-0 right-0 -z-10 mx-auto text-[#EAEAEA] font-[800] leading-none uppercase;
}

.section-title h1 {
  @apply absolute top-[-88px] left-[60px] right-0 z-[-1] mx-auto text-[#EAEAEA] font-[800] leading-none uppercase;
}

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #F3F5F7;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu-horizontal li:hover {
  transition: all .1s linear;
  background-color: #F3F5F7 !important;
  @apply text-primary bg-[#f3f5f7];
}

.input-container {
  position: relative;

}

.input-container label {
  @apply absolute bottom-2;
  transition: all 0.3s ease;
}

.input-container input:focus~label,
.input-container input:valid~label {
  @apply text-[15px];
  transform: translateY(-30px);
  left: 0;
}
.bg-card-1{
  @apply hover:bg-[#9B34EF];
}
.bg-card-2{
  @apply hover:bg-[#00C698]
}
.bg-card-3{
  @apply hover:bg-[#FF712C]
}
.bg-card-4{
  @apply hover:bg-[#D524C5]
}
.bg-card-5{
  @apply hover:bg-[#1AC038]
}
.bg-card-6{
  @apply hover:bg-[#1AC038]
}
