@tailwind base;
@tailwind components;

.section-title {
  @apply relative z-10;
}

.section-title h2 {
  @apply text-primary text-[32px] font-bold uppercase;
}

.section-title h3 {
  @apply absolute top-[-32px] left-0 right-0 -z-10 mx-auto text-[#EAEAEA] font-[800] leading-none uppercase;
}

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #F3F5F7;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu-horizontal li:hover {
  transition: all .1s linear;
  background-color: #F3F5F7 !important;
  @apply text-primary bg-[#f3f5f7];
}